%section#count
  %p= @count

%section#form
  = form_for @substitution do |f|
    = f.text_field :input,  placeholder: 'Insert word to be changed'
    = f.text_field :output, placeholder: 'Insert desired new word'

    = f.submit 'Save'
