!!! 5

%html
  %head
    %title Ignorance is bliss!

    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body
    %h1 Ignorance is bliss!

    #flash
      %p#notice= flash[:notice]

    = yield
